#sidePanel {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 0;
    height: 100%;
    background-color: blueviolet;
    overflow-x: hidden;
    transition: 0.3s ease;
}

#sidePanel a {
    position: relative;    
    top: 200px;
    color: white;
    display: block;
    margin: 30px;
}

#sidePanel .closeButton {
    margin: 0%;
    position: relative;
    top: 10px;
    right: -30px;
}

#spanID {
    cursor: pointer;
    color: crimson;
}