body {
    background-image: url("../images/emoji.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: aliceblue;
    overflow: scroll;
}

h1 {
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: blue;
    border: 5px solid orange;
    border-radius: 9px;
    border-style: solid;
    border-width: 5px 20px;
    background-color: aqua;
    text-decoration: underline;
}

.ul {
    list-style-type:none;
    justify-content: center;
    display:flex;
    border: 5px solid olivedrab;
    border-radius: 9px;
    border-left: 20px solid olivedrab;
    margin: .1px;
    background-color: bisque;
}

li {
    display: inline-block;
    margin: 0px;
    padding: 20px;
    font-size: 120%;
}

a:hover {
    color: aqua;
    background-color: black;
}

a:active {
    color: red;
}

.input{
    height: 25px;
    position: relative;
    bottom: -20px;
    border-radius: 9px;
    font-size: 17px;
}

.input::placeholder  {
    text-align: center;
}

.button {
    height: 25px;
    position: relative;
    bottom: -10px;
    margin: 10px;
    font-size: 17px;
    border-radius: 9px;
    color: cornflowerblue;
}

#demo {
    text-align: center;
    text-decoration: underline;
    color: blueviolet;
}

.footer {
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    color: blue;
    border: 2px solid gold;
    background-color: greenyellow;
    font-weight: bold;
    text-decoration: underline;
}